*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background: grey;
  color: black;
  font-weight: 300;
  line-height: 1.6; }

html {
  font-size: 62.5%; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 1rem;
  top: 1rem; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47; }

/* Position and sizing of clickable cross button */
/* Color/shape of close button cross */
.bm-cross {
  background: black;
  border: none;
  outline: none; }
  .bm-cross-button {
    outline: none;
    border: none;
    background: white;
    border-radius: 50%; }

/* General sidebar styles */
.bm-menu {
  background: black;
  font-size: 2.2rem;
  margin: 0;
  padding: 0; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em; }

/* Individual item */
.bm-item {
  display: inline-block; }

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5); }

.Links {
  color: white; }
  .Links-Active {
    color: red; }

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }
